

.box-form{
float:left;
width:100%;

}

.kiri{
width: 100%;
border-left:1px solid #ddd;
border-top: 1px solid #ddd;
border-right: 1px solid #ddd;  
background: transparent linear-gradient(to bottom, #FFF 0px, #D4D0D0 100%) repeat scroll 0% 0%;
border-radius: 5px 5px 0px 0px;
}


.bwh-nota{
display: inline-block;
width: 0px;
height: 0px;
vertical-align: inherit;
border-bottom: 8px solid #fff;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
content: "";
position: relative;
top: 5px;
margin: 0px 0px 0px;
cursor: pointer;

}

.alt{
float:left;    
width:100%;
margin: 10px 0px 0px;
}

.alt .fret{
width: 100%;
    float: left;
   

    text-align: center;
}

.alt .frto{
width: 75px;
float: right;
}

.alt .frto .bgtd{
float: left;
font-size: 17px;
font-weight: bold;
padding: 11px 2px;
color: #696666;
width: 100%;
}

.alt .fret .brt {
float: right;
width: 300px;
}

.alt .mer4 {
    width: 100%;
}


.alt .mer4 .ote{
float:left; 
width:100%;
}

.alt .mer4 .oxd {
    float: left;
    width: 268px;
}

.alt .mer4 .mejx{
float: left;
width: 100px;

}

.noxmejax,.hte{
    float: left;
    width: auto;
    padding: 0px 2px;
}



.alt .fret .brt .ote h4{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #756f6f;
}

.alt .fret .brt .ote h6{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #756f6f;
}

.alertmember{
float:left; 
width:100%;
margin: 20px 0px 0px;
}

.kolom{
float:left; 
width:100%;
margin: 20px 0px 0px;
border: 1px solid #adadad;
border-radius: 3px;
background: #fff;
}

.kolom .table > thead > tr > th
{
border-bottom: 2px solid #ddd;

}

.kanan{
width:100%;
background: #ddd;
border: 1px solid #ddd;
border-radius: 5px;
margin: 0px 0px 50px;
}


.listData{
width: 100%;

}

.listDatac{
width: 266px;

}

.catty{
border-left: 1px solid #d0d0d0;
    margin: 10px 0px 0px 0px;
    float: left;
    height: 33px;
    box-shadow: 1px 0px 1px 0px #ffffff;
}

.catyr{
 float: left;
    width: auto;
    color: #828282;
    margin: 12px 7px;
    font-weight: bold;
    font-size: 18px;
}


ul.category{
float: left;
list-style: none;
width: 100%;

padding: 0px;
}

.ly{
margin: 10px 0px 0px;
}

.yk{
margin: 40px 0px 0px;
}

ul.category li{
float: left;
line-height: 20px;
width: 115px;
height: 145px;
}
ul.category li .center{
width: 120px;
margin: 0px auto;
}

ul.category li .center a {
width: 100%;
float: left;
border: 1px solid transparent;
text-decoration: none;
}
ul.category li .center a:hover {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    background: #fff;
}
ul.category li .center a img {
    margin: 24px;
}
ul.category li .center a h4 {
    color: #565656;
    font-size: 12px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 18px;
    font-weight: bold;
}



.ats{
float:left;
width: 100%;  
border-bottom: 1px solid rgb(255, 255, 255);
box-shadow: 1px 5px 8px -5px #000;
background: transparent linear-gradient(to bottom, #FFF 0px, #F2F2F2 100%) repeat scroll 0% 0%;
}
.nama-category,.nama-tr{
 float:left;
 width: 200px;
padding: 0px 10px;
margin: 5px 0px; 
}

.ats .cac{
 width: 170px;
margin: 10px 0px 10px; 
}

.ats .cace {
    width: 193px;
    padding: 8px 0px 7px;
}

.ats .jdl{
width: 350px;
margin: 0px 0px; 

}



.ats .jdl h4{
font-size: 18px;
color: #727272;
font-weight: bold;
padding: 5px 12px;
 float: left;

}
.blk-category,.back-category,.back-calculate{
    cursor: pointer;
    padding: 15px 16px;
    float: left;
}

.blk-category:hover{
   color:#367fa9; 
   
}

.bcv,#btltrans{
width: 47px;
cursor: pointer;
border-right: 1px solid #ddd;
box-shadow: 2px -1px 0px 0px #fff;
height: 50px;
}

#dag{
 width: 656px;
    margin: 11px auto;
}



.head_k{
float:left;    
width:100%;

border-radius: 3px;
}
.head_k h2{
padding: 4px 12px;
color: #756f6f;
font-size: 20px;
}

.sct{
width: 420px;
float:left;
}

.bny{
float:left;
margin: 25px 0px 0px 13px;
}

.searchi{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #8d8d8d;
background-image: none;
border: 1px solid #898989;
border-radius: 3px 0px 0px 3px; 
font-weight: bold;
text-transform: capitalize;
}

.pull-search{
float:left;
width:100px;
margin:0px 0px 0px 30px; 
}

.form-search{
height: 30px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
position: relative;
z-index: 2;
float: left;
width: 100%;
border: 1px solid #ddd;
}
.form-search:active,.form-search:hover,.form-search:focus{
    border: 1px solid #49a1d1;
}
.loading{
width: 61px;
margin: 14px auto 0px;

}

.divcatalog .table > thead > tr > th
{
font-size: 16px;

}

.divcatalog .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #BFBFBF;
    
}
.modal-header{
border-bottom: 1px solid rgb(255, 255, 255);
box-shadow: 1px 5px 8px -5px #000;
background: transparent linear-gradient(to bottom, #FFF 0px, #F2F2F2 100%) repeat scroll 0% 0%;
}
#hasil > tr > td a,#getsearch{
color: #5f5f5f;
font-size: 14px;

}
.modal-content .modal-body .box-body .table-responsive .table > thead > tr > th {
color: #5f5f5f;
font-size: 16px;
font-weight: bold;
}

#modal-duit{
    left:20px;
    margin-top: -53.5px;
}

#modal2{
left: 601px;
margin-top: -53.5px;
}

.promo{
    float: left;
    color: #ff0000;
    width: 12px;
    position: relative;
    left: 5px;
    top: -3px;
}

.diskon{
    color: #fefefe;
width: auto;
position: relative;
left: 0px;
padding: 4px;
top: -8px;
background: #E60909;
font-size: 12px;
border: 1px solid #E60909;
border-radius: 17px;
}

.btn-min{
   padding: 1px 5px;
}

.qty{
position: relative;
float: left;
padding: 0px 21px;

}

.btn-down{
float: left;
width:100%;
margin: 25px 0px;
}

.btn-down ul{
float: left;
width: auto;
    list-style: none;
    padding: 0px 0px;
}

.btn-down ul li{
float: left;
padding: 0px 8px 0px 0px;

}

.ats .post-t{
float: right;
width: 138px;
margin: 8px 0px;
}

.bgpem{
        background: red;
        color:white;
}

.mixs{
        min-width: 116px;
    float: left;
    padding: 0px 0px;
}

.mixd{
        min-width: 146px;
    float: left;
    padding: 0px 0px;
}

.mixdwr{
        min-width: 142px;
    float: left;
    padding: 0px 0px;
}

.misdr{
    min-width: 98px;
    float: left;
}

.ats .post-t ul{
float: left;
padding: 2px 0px 0px;
list-style: none;
margin: 0px;
}

.ats .post-t ul li{
float: left;
width:134px; 
font-weight: bold;
color: #fff;

}

.ats .post-t ul li .tunai,.ats .post-t ul li .debit{
float: left;
width: 100%;
padding: 13px 48px;
border-top: 1px solid #A71717;
border-bottom: 1px solid #A71717;
background-color: #B71C1C;
cursor: pointer;
}
.ats .post-t ul li .tunai:hover,.ats .post-t ul li .debit:hover{
background-color: #9b1212;
color: #f6f6f6;

}
.btn-kir{
    border-left: 1px solid #A71717;
    border-right: 1px solid #fff;
    border-radius: 7px 0px 0px 0px;
}

.btn-kan{
    border-right: 1px solid #A71717;
    border-left: 1px solid #fff;
    border-radius: 0px 7px 0px 0px;
}

.btn-xr{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


#display{
font-size: 20px;
width: 100%;
margin: 0px 0px;
height: 40px;
border-radius: 6px;
}

#cash{
  float: left;
  width: 100%; 
  margin: 30px 0px 30px;
}

#cash .tr-input{
float: left;
width: 100%; 
}

.ngitung{
font-size: 14px;
color: #323131;

}

.ngitung .tabel-tr{
float: left;
width: 100%;
margin: 0px 0px 0px;
font-size: 19px;


}

.ngitung .tabel-tr tr{


}

.ngitung .tabel-tr tr .brd{
float: left;

}

.ngitung .tabel-tr tr .brd .re{
float: left;   
width: 95%;
border-top: 1px solid #999;
}

.ngitung .tabel-tr tr .brd .xs{
float: left;
margin: -30px 0px 0px;
position: relative;
top: 15px;
left: 4px;
color: #999;
}
.ngitung .tabel-tr tr td{
float: left;
width: 100%;
}

.ngitung .tabel-tr tr td .isy{
float: left;
width:100px;
}



#jmlkan{
float: left;
border-radius: 0px 3px 3px 0px;
font-size: 13px;
font-weight: bold;
position: relative;
top: 1px;
}

.ui-bar-a {
border-width: 1px;
border-style: solid;
background-color: #e9e9e9;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #eee;
font-weight: 700;
}
.nmpd-grid {
    padding: 10px;
    width: 312px;
    padding: 10px;
    float: left;
}

#form-tmbl{
padding: 0px;
width: 165px;
float: left;
}
#form-tmbl2{
float: left;
width: 120px;
}
#form-tmbl ul.st{
list-style: none;
float: left;
padding: 12px 0px 12px 0px;
margin: 4px 0px;
width: 100%;
}

#form-tmbl ul.st li{
padding: 3px 5px;
float: left;
}

#form-tmbl ul.st li .nol{
padding: 10px 43px;
float: left;
}

#form-tmbl ul.st li .koma{
padding: 10px 19px;
float: left;
position: relative;
left: -2px;
}

#form-tmbl2 ul.s2{
list-style: none;
float: left;
width: 118px;
padding: 16px 0px;
left: -8px;
position: relative;
}

#form-tmbl2 ul.s2 li{
padding: 3px 5px;
float: left;

}
#form-tmbl2 ul.s2 .er{
padding: 10px 54px;
float: left;   
cursor: pointer;
border-radius: 3px;
}

#form-tmbl2 ul.s2 .ery{
padding: 36px 56px;
float: left;
font-weight: bold;
}

#form-tmbl2 ul.s2 .passu{
float: left;
width: 89px;
}

.mne{
 float: left;
 width: 100%;   
}

.col-md-5{
width: 41.66666667%;

}

.der{
margin: 71px auto;
width: 149px;
}

.brs-kcl{
border-right: 1px solid #959494;
box-shadow: 1px 0px 0px 0px #fff;
margin: 19px 0px 0px;

    width: 301px;
}

.petunjuk{
    float: left;
    margin: 24px 0px;
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    padding: 6px 13px;
}

.brs-jtr{
margin: 0px 0px 0px;
}

.brs-jtr .isiy{
background: #c5c5c5;

}



.btn-yrc {
padding: 14px 0px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
width: 100%;

}


#alert {
    float: left;
    width: 100%;
    padding: 0px 15px;
}
#alert .alertid{
background-color: #B71C1C;
border: 1px solid #930606;
padding: 5px 16px;
color: #fff;
border-radius: 3px;
margin: -14px 0px 18px;
font-size: 15px;
}

.qrcodeid{
    float: left;
    width: 100%;
    margin: 10px 0px 0px;
    

}

.qrcodeid .titscn{
    float: left;
    width: 100%;
    margin: 0px 0px 0px;
background: #cbc5c5;
border-top: 1px solid #595959;
border-left: 1px solid #595959;
border-right: 1px solid #595959;
border-radius: 3px 3px 0px 0px;
}

.qrcodeid .qr{
    float: left;
    width: 100%;
    border: 1px solid #595959;
    border-radius: 0px 1px 3px 3px;
}

.qrcodeid .titscn h4{
    font-size: 14px;
    font-weight: bold;
    color: #625b5b;
padding: 0px 10px;
}


.users-list > li.shared{
float: left;
width: 100%;
padding: 10px 14px;
text-align: left;

}


.users-list > li.shared a .btn-share{
float: left;
margin: 0px 9px 0px 0px;
}

.users-list > li.shared a .img-facebook{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/facebook.png')no-repeat;
    cursor: pointer;

}

.users-list > li.shared a .img-facebook:hover,.users-list > li.shared a .img-facebook-h{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/facebook-hover.png')no-repeat;
    cursor: pointer;
}

.keti{
float: left;
font-size: 20px;
font-weight: bold;
padding: 2px 9px;
}

.users-list > li.shared a .img-line{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/line.png')no-repeat;
    cursor: pointer;
}

.users-list > li.shared a .img-line:hover,.users-list > li.shared a .img-line-h{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/line-hover.png')no-repeat;
    cursor: pointer;
}

.users-list > li.shared a .img-instagram{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/instagram.png')no-repeat;
    cursor: pointer;
}

.users-list > li.shared a .img-instagram:hover,.users-list > li.shared a .img-instagram-h{
    float: left;
    width:32px;
    height:32px;
    background:url('../img/instagram-hover.png')no-repeat;
    cursor: pointer;
}


.ttbyr{
    float: left;
    width: 100%;
    
}

.ttbyr .ght{
    float: right;
    width: 275px;
    background: #aeaeae;
}

.ttbyr .ght h4{
    float: left;
    padding: 4px 15px;
    font-weight: bold;
    font-size: 22px;

}



.step{
    
    width: 285px;
}


.transaksi_end{
background: #ededed;
width: 100%;
float: left;
border-radius: 3px;

}

.transaksi_end .bord{
    float: left;
    width: 100%;
    border-bottom: 1px solid #989898;
    box-shadow: 0px 1px 0px 0px #fff;

}
.transaksi_end .bord .head{
  font-size: 19px;
float: left;
margin: 6px 14px;

}

.transaksi_end .colom{
   float: left;
   width: 100%;

}

.transaksi_end .colom .ift{
float: left;
padding: 6px 14px;
width: 100%;

}

.transaksi_end .colom .ift .cde{
float: left;
width: 57px;
}



.transaksi_end .colom .ift .fer{
float: right;
width: 203px;


}

.transaksi_end .colom .ift .fer .cqe{
    padding: 0px 4px;
}

.colomd3{
    float: left;
    width: 100%;
}

#user_0,#sutr{
float: left;
    width: 100%;
margin: 16px 0px -29px;
}
.drc{
    margin: 0px auto;
    width: 94px;
    font-size: 20px;
    
}

.drc .gt{
float: left;
margin: 0px;

}

.drc .ngt{
float: left;
margin: 7px 0px 0px 8px; 
}

.mrg-load{
    margin: 0px auto;
    width: 100px;
}

.trek{
    margin: 25px 0px 10px;
}
#position{
    width: 100%;
    margin: 54px 0px;
}

#position .pt-margn{
    margin: 0px auto;
    width: 310px;
}

#position .pt-margn .box-member{
width: 143px;
float: left;
border: 1px solid #DDD;
padding: 0px;
margin: 5px 6px;
border-radius: 3px;
background: transparent linear-gradient(to bottom, #FFF 0px, #F2F2F2 100%) repeat scroll 0% 0%;
cursor: pointer;
}
#position .pt-margn .box-member:hover{
border-color: #AAA #AAA #999;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px #FFF inset;
background-image: linear-gradient(to bottom, #F0F0F0 0px, #E6E6E6 100%);
}
#position .pt-margn .box-member .po-img{
    margin: 18px auto;
    width: 46px;
}



#position .pt-margn .box-member h5 {
    border: medium none;
    font-size: 12px;
    height: 0px;
    text-align: center;
    margin: 0px;
    color: #333;
    line-height: 40px;
    font-weight: bold;
}

.divcatalog{
float: right;
width: 282px;
margin: 10px 0px;
font-size: 16px;
}

.headkat{
    float: left;
    width: 100%;
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #868585;
    box-shadow: 0px 1px 0px 0px #fff;
}

.headkat li{
    float: left;
        width: auto;
    padding: 0px;
}


.kcata{
    width: 283px;
    height: 424px;
    list-style: none;
    float: left;
    padding: 0px;
}

.kcata li{
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #c3c0c0;
    box-shadow: 0px 1px 0px 0px #fff;
}

.kcata li a{
    float: left;
        color: #333;
    cursor: pointer;
}



.divcategori{
float: left;
width: 258px;
}

#catalog{
    font-size: 14px;
    background: #ececec;
}

.table-fixed thead {
    float: left;
  width: 100%;
  border-bottom: 2px solid #aba5a5;
box-shadow: 0px 2px 0px 0px #fff;
}
.table-fixed tbody {
  height: 230px;

  width: 100%;
}
.table-fixed tbody, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tr{
    float: left;
    width: 100%;
}


.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  width: 116px;
}

.ul-fixed{
height: 230px;
   overflow-y: scroll;
  width: 100%;
    display: block;
}





.bfrg{
background-color: #8d8d8d;
border-radius: 0px 3px 3px 0px;
padding: 7px 9px;
color: #fff;
border: none;
}

.bfrg:hover{
background-color: #b3b1b1;
color: #7a7a7a;
}
#mejax{
    padding: 1px 12px;
cursor: pointer;
}
#table-meja{
    float: left;
    min-width: 97px;
}

#table-meja li{
    padding: 3px 5px;
border: 1px #9e9e9e;
float: left;
width: 100%;
}

#table-meja li:hover{
background: #ad1111;
color: #fff;
cursor: pointer;
}

#myDiv{
background: #ababab;
}



/**
 * TrackpadScrollEmulator
 * Author: Jonathan Nicol @f6design
 * https://github.com/jnicol/trackpad-scroll-emulator
 */
 
 .tse-scrollables {
  position: relative;
  /* Default value. Overwite this if you want. */
  height: 500px; /* Default value. Overwite this if you want. */
  overflow: hidden;
  float: left;
  }
  .tse-scrollables .tse-scroll-contents {
    overflow: hidden;
    overflow-y: scroll;
    }
    
.tse-scrollables .tse-scroll-contents::-webkit-scrollbar {
      width: 0;
      height: 0;
      }


.tse-scrollbars {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
     
    margin: 20px 0px;
    border-radius: 3px;
  }


  .tse-scrollbars .drag-handles {
    position: absolute;
    right: 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: #6c6e71;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    }


  .tse-scrollbars:hover .drag-handles {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.7;
    -webkit-transition: opacity 0 linear;
    -moz-transition: opacity 0 linear;
    -o-transition: opacity 0 linear;
    -ms-transition: opacity 0 linear;
    transition: opacity 0 linear;
    }

    .tse-scrollbars .drag-handle.visibles {
      opacity: 0.7;
      }
/* Used when testing the scrollbar width */
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.scrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}



/* Horizontal scroller */
.tse-scrollables.horizontal .tse-scroll-contents {
  overflow-x: scroll;
  overflow-y: hidden;
  }
  .tse-scrollables.horizontal .tse-scroll-contents::-webkit-scrollbar,
  .tse-scrollables.horizontal .tse-scroll-contents::scrollbar {
    width: auto;
    height: 0;
    }



.tse-scrollables.horizontal .tse-scrollbars {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
  }
  .tse-scrollables.horizontal .tse-scrollbars .drag-handles{
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
    }



.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.antiscroll-scrollbar {
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}

.antiscroll-scrollbar-shown {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.antiscroll-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}

.antiscroll-scrollbar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}

.antiscroll-inner {
  overflow: scroll;
}

.antiscroll-inner::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}

  

.antiscroll-inner {
  
  height: 424px;
  font: 14px Helvetica, Arial;
}

.box-wraper {
    margin: 0px 0px;
    position: relative;
    top: 0px;
   
  
}

.ngtrs{
    float: left;
}

.box-inners {
  background: #eee;
  padding: 10px;
  color: #999;
  text-shadow: 0 1px 0 #fff;
}

.harga{
    font-size: 10px;
}

.title{
    font-size: 16px;
}

.pilih-costumer{
    margin:0px auto;
    width: 200px;
    
}

.pilih-costumer .posisi{
  
    margin:30px 5px;

}
#costumer_name{
    float: left;
    display: block;
        width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    
    font-weight: bold;
    text-transform: capitalize;
}

.setrf{
float: left;
 width: 100%;
    height: 34px;
    background-color: #8d8d8d;
    background-image: none;
    border: 1px solid #898989;
    border-radius: 3px ;
}

#costumer_name .namacuy{
float: left;
border:1px solid #fff;
background: #fff;
width: auto; 
border-radius: 3px;   
}

#costumer_name .namacuy .nama_member{
        float: left;
    margin: 0px 5px;
    color: #404040;

}

#costumer_name .namacuy .delta{
    float: left;
    margin:0px 7px;

}


.mejaix{

   float: left;     
   margin: 0px 2px;
    padding: 6px 9px;
}

.alertview,.alertmember,#del_order{
       float: left;
    margin: 8px 0px;
    border: 1px solid #ddd;
        background: #f3f2f2;
    border-radius: 3px;
    color: red;
    width: 100%;
}

.peringatan{
    padding: 5px;
    font-weight: bold;
    float: left;
}

.seti{
 border-bottom:1px solid #ddd;
 width: 100%; 

}
.modal-title{
    width: auto;
    float: left;
}

.pdgn{
      margin: 0px auto;
    width: 510px; 
   

}

.pdgn h4{
    text-align: center;
}

.imgqr{
   margin: 0px 55px;
     
}

.bgts,#scanqr,#alertsukses{
    width: 100%;
}

.bcve {
        width: auto;
    cursor: pointer;
    border-right: 1px solid #ddd;
    box-shadow: 2px -1px 0px 0px #fff;
    height: 50px;
}

.trvde {
    cursor: pointer;
    padding: 0px 0px;
    float: left;
}

.bcdf {
        width: auto;
    cursor: pointer;
    border-right: 1px solid #ddd;
    box-shadow: 2px -1px 0px 0px #fff;
    height: 50px;
}
#meja_view{
        float: right;
    width: 170px;
}

.mejaix{
    width: 90px;
    float: left;
        font-weight: bold;
            padding: 4px 5px;
}

.sdew{
        float: left;
    padding: 5px 3px 0px 0px;
    color: #fff;
    font-weight: bold;
}

.dnvf{
    width: 100%;
}

.text-alt{
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    padding: 8px 16px;
    font-weight: bold;
}

.cdre{
    width: 260px;
    margin: -5px 15px 0px 0px;
}

#alert_jml{
    margin: 5px 0px;

}

#alert_jml b{
    font-weight: bold;
    font-color: #ad161600;
}

.brs-kclse {
    border-right: 1px solid #959494;
    box-shadow: 1px 0px 0px 0px #fff;
    margin: 19px 0px 0px;
   width: 330px;
}

.vfrt{
        width: 260px;
    margin: 0px 14px;
}

.ngtsw{
    float: left;
    width: 300px;
    background: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    margin: 24px 0px;
}

.ngtsw .tabel-tr{
     float: left;
    width: 100%;
    margin: 16px 0px;
}

.ngtsw .bgti{
margin:0px auto;
width: 240px; 

}

#bungkus{
    float: left;
    width: 353px;
}

#bungkus .headerprint {
    margin: 0px auto;
    width: 204px;
}

#bungkus .headerprint .textdata{
    text-align: center;
   
}

#scanqr .headpoint{
    float: left;
    width: 100%;
}

#scanqr .headpoint .headtitle{
    float: left;
}



 .mtse-scrollable {
  position: relative;
  width: 100%;
  height: 300px; /* Default value. Overwite this if you want. */
  overflow: hidden;

  }
  .mtse-scrollable .mtse-scroll-content {
    overflow: hidden;
    overflow-y: scroll;
    
    }
    /* No longer using ::scrollbar too, since it breaks Chrome 25 */
    .mtse-scrollable .mtse-scroll-content::-webkit-scrollbar {
      width: 0;
      height: 0;

      }
.mtse-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  }
  .mtse-scrollbar .mdrag-handle {
    position: absolute;
    right: 2px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: #6c6e71;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    }
  .mtse-scrollbar:hover .mdrag-handle {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.7;
    -webkit-transition: opacity 0 linear;
    -moz-transition: opacity 0 linear;
    -o-transition: opacity 0 linear;
    -ms-transition: opacity 0 linear;
    transition: opacity 0 linear;
    }
    .mtse-scrollbar .mdrag-handle.visible {
      opacity: 0.7;
      }
/* Used when testing the scrollbar width */
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.mscrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Horizontal scroller */
.mtse-scrollable.horizontal .mtse-scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
  }
  .mtse-scrollable.horizontal .mtse-scroll-content::-webkit-scrollbar,
  .mtse-scrollable.horizontal .mtse-scroll-content::scrollbar {
    width: auto;
    height: 0;
    }
.mtse-scrollable.horizontal .mtse-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
  }
  .mtse-scrollable.horizontal .mtse-scrollbar .mdrag-handle {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
    }

    #listMember,#listDraft{
        list-style: none;
        width: 100%;
        float:left;
        padding: 10px 9px;
        background: #e0e0e0;
        font-size: 14px;
        font-weight: bold;
    }

    #listMember li,#listDraft li{
        width: 100%;
        float:left; 
       padding: 7px 0px;
    border-bottom: 1px solid #a0a0a0;
    box-shadow: 0px 1px 0px 0px #fff;

    }

     #listMember li .mimg,#listDraft li .mimg{
           width: 134px;
    float: left;
    padding: 0px 25px;
     }

     #listMember li .mname,#listDraft li .mname{
    width: 133px;
    float: left;
    padding: 11px 0px; 
     }

     #listMember li .mphone,#listDraft li .mphone{
         width: 156px;
        float:left; 
     }

     #listMember li .mpoin,#listDraft li .mpoin{
        width: 62px;
        float:left; 
     }
     .wsd{
        width: 100%;
        height: 300px;
     }

     #vfrt{
            
    background: #9a0000;
    color: #fff;
    border: 1px solid #9a0000;
     }

 

        .nhgt{
       
        color: #000;
       
        border-radius: 4px 4px 0 0;
        }

    
        .nav>li>a:hover,.nav>li>a.active,.nav>li>focus
        {
            color: #fff;
             background: #9a0000;
             border: 1px solid #9a0000;
             border-radius: 4px 4px 0 0;
        }

        .vbt{
            color: #000;
            border: 1px solid #ddd;
        }

        .vdcx{
            float: left;
            width: 100%;     
             
        }

     .vdcx table{

            float: left;
            width: 100%;    
     }

     .vdcx table>tbody>tr{

           
    float: left;
    width: 100%;
    margin: 7px 0px;   
     }


     .vdcx table>tbody>tr .cde{

        float: right;
            margin: 0px 43px;
    width: 225px;
     }

     .searchs{
        float: left;
            padding: 5px 0px;
    margin: 0px 6px;
     }

     .bfr{
        margin: 0px 0px;
     }
     .biasa{
        float: left;
       
           font-size: 15px;
    margin: 0px 16px;
     }

     .disc{
            float: left;
    font-size: 14px;
    color: Red;
    padding: 0px 0px 0px 3px;
     }

     .tanggalan{
               float: left;
    width: 218px;
    padding: 4px 0px;

     }

     .mrgn1{
        margin: 0px auto;
        width: 250px;
     }

.brt{
            width: 122px;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    cursor: pointer;
       
}

.csrx{
    text-align: center;
    
}

.mnr{
        padding: 9px 29px;
    width: 100%;
}

.mnrd{
        padding: 9px 25px;
    width: 100%;
}
#grafik{
    float: left;
    width: auto;
    height: auto;
    border: 1px solid #656565;
    border-radius: 3px;
}
#grafik .chartContainer1{
     float: left;
    width: 100%;
}
.canvasjs-chart-container{
    float: left;
}

.nht{
    cursor: pointer;
}

.itm{
    float: left;    
    min-width: 100px;
}

.hrg{
    float: left;    
    min-width: 100px;
}

.lists tr{
   background: #dadada;
    color: #4c4c4c;
    border: 1px solid #ddd;
}

.bgde{
    float: left;
    width: 100%;
    margin: 0px 0px 10px;
}

.bhy{
     margin: 30px 0px 0px;
}

.nty{
    margin: 40px 10px;
}

.cdg{
    margin: 0px 0px 0px 5px;
}
.derc{
    border: 1px solid #ddd;
    width:48%;
     margin: 0px 11px 5px 0px;   
    background: #e4e4e4;
    border-radius: 3px;
}

.bgyo{
    margin: 10px 0px 12px -15px;
}

#Trhistory>tr>td{
    border-top: 1px solid #b9b7b7;
}

#historysubtotal {
    border-top: none;
}

#historysubtotal>tr>td{
    border-top: 1px solid #b9b7b7;    
}

#History>thead>tr>th,#food>thead>tr>th,#debit>thead>tr>th{
background: black;
color: #fff;
}
.progress-input{
    height: 50px;
     margin: 0px 0px 10px;
}

.ngte2{
    border-right: 1px solid #ddd;
    min-height:200px; 
}

.coret{
    text-decoration: line-through;
    color: red;
}


